
  .box.svelte-1mrb2wg {
    margin-bottom: 10px;
    padding: 40px;
    border: 1px solid #dee2e6;
    border-radius: 0 0 .5rem .5rem;
    border-top: 0;
  }
  ul.svelte-1mrb2wg {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    border-bottom: 1px solid #dee2e6;
  }
  li.svelte-1mrb2wg {
    margin-bottom: -1px;
  }

  button.svelte-1mrb2wg {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    display: block;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  button.svelte-1mrb2wg:hover {
    border-color: #e9ecef #e9ecef #dee2e6;
  }

  li.active.svelte-1mrb2wg > button:where(.svelte-1mrb2wg) {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
  }


  div.svelte-ynrwa7 {
    background: #eee;
  }


  img.svelte-repcjo, video.svelte-repcjo {
    display: block;
    margin: 12px;
    border-radius: 6px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.05), 0 2px 3px 0 rgba(0,0,0,.1);
  }
  .preload.svelte-repcjo {
    min-height: 900px;
  }
  .container.svelte-repcjo {
    width: 80vh;
    height: 70vh;
    overflow-y: scroll;
    margin: auto;
    position: relative;
  }
  .text-content.svelte-repcjo {
    height: 300px;
  }


  img.svelte-repcjo, video.svelte-repcjo {
    display: block;
    margin: 12px;
    border-radius: 6px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.05), 0 2px 3px 0 rgba(0,0,0,.1);
  }
  .preload.svelte-repcjo {
    min-height: 900px;
  }
  .container.svelte-repcjo {
    width: 80vh;
    height: 70vh;
    overflow-y: scroll;
    margin: auto;
    position: relative;
  }
  .text-content.svelte-repcjo {
    height: 300px;
  }


.container.svelte-1vele4z {
  font-size: 200%;
}


    img.svelte-cvjytg, video.svelte-cvjytg {
        display: block;
        margin: 12px;
        border-radius: 6px;
        box-shadow: 0 0 0 1px rgba(0,0,0,.05), 0 2px 3px 0 rgba(0,0,0,.1);
    }
    .preload.svelte-cvjytg {
        min-height: 900px;
    }
    .container.svelte-cvjytg {
        width: 80vh;
        height: 70vh;
        overflow-y: scroll;
        margin: auto;
        position: relative;
    }
    .text-content.svelte-cvjytg {
        height: 300px;
    }


  h1.svelte-cty3eu {
    width: 80vh;
    margin: auto;
    margin-bottom: 6vh;
  }

